/* For All Fonts and Boxes */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  /* Heading of the page */
  h1 {
    background-color: rgb(202, 58, 202);
    outline-style: dashed;
    outline-color: black;
    text-align: center;
    margin-top: 1em;
    padding: .3em;
  }

  /* Background of the whole page*/
  body {
    height: 100vh;
    flex-direction: column;
    background-color: #191919;
  }
  
  /* Creates a box for content inside */
  main {
    display: grid;
    grid-template-columns: 50vmin 15vmin 50vmin;
    grid-template-rows: 10vmin 10vmin 40vmin 15vmin;
    background-color: pink;
    outline-style: dashed;
    outline-color: black;
  }
  
  /* Keeps the container in the center of Browser */
  .flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* This is for the Question Box */
  .questions {
    display: flex;
    justify-content: flex-start;
    font-size: 2em;
    color: black;
    text-align: center;
    margin: 0 auto;
    margin-top: .1em;
    outline-color: black;
    border-radius: 0.5em;
    box-shadow: 0 0.2em black;
  }

  /* Creates container for the Buttons */
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em;
    padding: 10px;
    border-radius: 10px;
  }
  
  /* Creates the buttons */
  button {
    margin: 0.5em;
    color: #000;
    border: 1vmin solid black;
    border-radius: 4vmin;
    font-size: 1.2em;
    font-weight: bold;
    outline: none;
    background-color: #f1c40f;
    box-shadow: 0 0.2em #000;
    padding: 1vmin .5vmin;
    transition: all 0.3s ease-in-out;

  }
  
  /* When mouse over button color changes */
  button:hover {
    background-color: blue;
    color: #fff;
  }

  /* Creates Scoreboard */
  .scoreboard {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  
  .score {
    font-size: 1em;
    font-weight: bold;
    background-color: blue;
    color: white;
    padding: 0.5em 1em;
    outline-color: black;
    border-radius: 0.5em;
    box-shadow: 0 0.5em black;
    margin-top: 16em;
  }

  /* Will Eventually have a countdown */
  /* #countdown {
    visibility: hidden;
    height: 10vmin;
    width: 10vmin;
    border: 1vmin solid grey;
    border-radius: 50%;
    font-size: 5vmin;
    padding: 1vmin;
    justify-self: center;
    align-self: center;
    color: purple;
  } */